.breadcrumbs {
  display: flex;
  align-items: center;


  height: 220px;
  padding-top: 120px;
  margin-bottom: 100px;

  background-image: linear-gradient(to bottom,#000000 -20%, #1d1d1d);
  overflow: hidden;

}

.breadcrumbs__wrapper {
  display: flex;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  min-width: 100vw;
  max-width: 100vw;
}

.breadcrumbs__container {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    width: 100%;
    max-width: 1200px;
  }
}

.breadcrumbs__link {
  position: relative;

  font-size: 18px;
  line-height: 18px;
  color: $grey;

  &:hover {
    color: $hv-blue;
  }
}

.breadcrumbs__link a {
  color: $grey;
}

.breadcrumbs__link-arrow {
  fill: $hv-blue;
  transform: rotate(90deg);
  vertical-align: middle;
}
