.header {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 1200px;
  min-height: 80px;
  padding-right: 28px;
  padding-left: 28px;
  margin: 0 auto;

  background-color: rgba(13, 13, 13, 0.8);
  z-index: 5;

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.header__logo {
  max-width: 50px;
  height: 50px;
  overflow: hidden;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    max-width: 166px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.header__logo-image {
  min-width: 166px;

  @media (min-width: $tablet-width) {

  }
}

.header__nav {

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.header__nav--js {

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.header__list {
  @include list-reset;

  position: absolute;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: 100vw;
  height: 100vh;
  padding-right: 30px;
  padding-top: 30px;
  margin-top: 30px;

  background-color: rgba(13, 13, 13, 0.8);

  @media (min-width: $desktop-width) {
    position: relative;
    justify-content: space-between;
    flex-direction: row;

    width: auto;
    height: auto;
    padding-top: 0;
    padding-right: 0;

    background-color: none;
  }
}

.header__list-item {
  margin-bottom: 14px;
  text-align: right;

  @media (min-width: $desktop-width) {
    margin-right: 40px;
  }
}

.header__list-item a {
  font-size: 24px;
  line-height: 1.4em;
  font-style: normal;
  font-weight: 400;

  color: #fff;
  fill: #fff;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 16px;
  }

  &:hover {
    color: $hv-blue;
    fill: $hv-blue;
  }
}

.header__inner-list {
  @include list-reset;

  position: relative;
  display: flex;
  flex-direction: column;

  padding: 20px;
  padding-right: 0;


  background-color: rgba(13, 13, 13, 0.8);

  @media (min-width: $tablet-width) {

  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: -10px;
    padding-right: 20px;
  }
}

.header__inner-list--js {
  display: none;
}

.header__inner-item {
  text-align: right;
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #242424;
}

.header__inner-item a {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #8e8e8e;

  transition: .3s ease;

  &:hover {
    transform: translateX(-20px);
  }
}

.header__button {
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;

  background-color: transparent;
  border: none;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__open,
.header__close {
  width: 40px;
  height: 40px;

  fill: #fff;
  color: #fff;

  &:hover {
    fill: $hv-blue;
  }
}

.header__open--js {
  display: none;
}

.header__close--js {
  display: none;
}

.header__contacts {
  position: relative;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin-left: 40px;

    &::before {
      position: absolute;
      top: 7px;
      left: -40px;
      width: 25px;
      height: 25px;
      content: url("../img/icon-phone.svg");

      z-index: 2;
    }
  }
}

.header__phone {
  display: inline-block;
  font-size: 22px;
  line-height: 21px;
  color: #FFFFFF;

  margin-bottom: 5px;
}

.header__phone-title {
  font-size: 14px;
  line-height: 13px;
  color: $grey;
}
